.mission {
  background-color: white;
  
  position: relative;
  z-index: 2;
  padding: 80px 20px;
}


.mission-header {
  text-align: center;
  margin-bottom: 2rem;
}

/* *{
  border: 2px solid red;
} */

.mission-tag {
  font-size: 1.5rem;
  font-weight: 600;
  background: white;
  color: black  ;
  border: 2px solid black;
  padding: 0.2rem 0.9rem;
  display: inline-block;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

.mission-title {
  font-weight: 700;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
}

.mission-desc {
  font-weight: 400;

  color: #555;
}

.mission-card {
  display:flex;
  align-items: center;
  gap: 2rem;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.mission-card.reverse {
  flex-direction: row-reverse;
}

.mission-card img {
  width: 760px;
  border-radius: 1rem;
}



.mission-info h4 {
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 0.5rem;
}

.mission-info p {
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 0.5rem;
}



.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease-out;
}

.reveal.left {
  transform: translateX(-50px);
}

.reveal.right {
  transform: translateX(50px);
}

.reveal.visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.reveal.visible .mission-text {
  opacity: 1;
  transform: translateY(0);
}

.reveal.visible .mission-text:nth-child(1) {
  transition-delay: 0.2s;
}

.reveal.visible .mission-text:nth-child(2) {
  transition-delay: 0.4s;
}

.reveal.visible .mission-text:nth-child(3) {
  transition-delay: 0.6s;
}